<!-- addsubject.component.html -->
<div class="container">
  <h2>Add Subject</h2>
  <form name="subjectForm" #f="ngForm" (ngSubmit)="f.form.valid && addSubject()">
    <div class="form-group">
      <label for="siteID">Site Name</label>
      <select id="siteID" class="form-control" name="siteID" [(ngModel)]="selectedSite.siteID" (change)="onSiteIdChange()" required
        #siteID="ngModel" [ngClass]="{ 'is-invalid': f.submitted && siteID.errors }">
        <option *ngFor="let item of items" [value]="item.siteID">{{ item.siteName }}</option>
      </select>
      <div *ngIf="f.submitted && siteID.errors" class="invalid-feedback">
        <div *ngIf="siteID.errors['required']">Site Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="subjectName">Subject Name</label>
      <input type="text" id="subjectName" class="form-control" name="subjectName" [(ngModel)]="subject.subjectName" required
        #subjectName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subjectName.errors }" />
      <div *ngIf="f.submitted && subjectName.errors" class="invalid-feedback">
        <div *ngIf="subjectName.errors['required']">Subject Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Subject</button>
    </div>
  </form>
</div>
