/* Add this CSS to your styles file */
/* Add this CSS to your styles file */
.side-panel {
  background-color: #f8f9fa; /* Set your desired background color */
  padding: 5px;
  border-radius: 8px;
}

.side-panel ul {
  list-style-type: none;
  padding: 0;
}

.side-panel li {
  margin-bottom: 5px;
}

.side-panel a {
  text-decoration:solid;
  color: #007bff; /* Set your desired link color */
}

.side-panel a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.container {
  font-family: 'Arial',  sans-serif;
  background-color: #e49b9b; /* Set your desired background color */
  padding: 100px;
  border-radius: 20px;
}

.question-container {
  background-color: #fff; /* Set your desired background color for the question container */
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 35px; /* Adjust the font size as needed */
  margin: 0;
}

.options {
  margin-bottom: 25px;
}

.options input[type="radio"] {
  margin-right: 8px;
}

.options label {
  font-size: 25px; /* Adjust the font size as needed */
}

.text-danger {
  font-size: 14px; /* Adjust the font size as needed */
  color: #ff0000; /* Set your desired text color for error messages */
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #007bff; /* Set your desired primary button color */
  color: #fff; /* Set your desired text color for the button */
  padding: 10px 20px;
  font-size: 16px; /* Adjust the font size as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3; /* Set your desired button color on hover */
}
