<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">YOUR TEST IS SUBMITTED SUCCESSFULLY!!</h2>
      <div class="container">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Question No</th>
              <th>Question Text</th>
              <th>Answers</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let questionbankItem of questionbank">
              <td>{{ questionbankItem.questionID }}</td>
              <td>{{ questionbankItem.questionText }}</td>
              <td>{{ questionbankItem.answer }}</td>
            </tr>
          </tbody>
        </table>
      </div><br>
      <a href="user-dashboard/home">Go Back To Home Page</a>
    </div>
  </div>
</div>

          
        
     