<!-- addsite.component.html -->
<div class="container">
  <h2>Add Site</h2>
  <form #f="ngForm" (ngSubmit)="f.form.valid && addsite()">
    <div class="form-group">
      <label for="orgID">Organization Name</label>
      <select [(ngModel)]="site.orgID" name="orgID" (change)="getAllOrganization($event)" class="form-control">
        <option *ngFor="let Organization of orgNames" [value]="Organization.orgID">{{ Organization.orgName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="siteName">Site Name</label>
      <input type="text" id="siteName" class="form-control" name="siteName" [(ngModel)]="site.siteName" required
        #siteName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && siteName.errors }" />
      <div *ngIf="f.submitted && siteName.errors" class="invalid-feedback">
        <div *ngIf="siteName.errors['required']">Site Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Site</button>
    </div>
  </form>
</div>
