
<div class="container">
  <h2>Add Assigned Test</h2>
  <form #f="ngForm" (ngSubmit)="f.form.valid && addassignedtest()">
    <table class="table">
      <tr>
        <div class="form-group">
          <label for="testID">Test Name</label>
          <select [(ngModel)]="assignedtest.testID" name="testID" (change)="getAllTests($event)" class="form-control">
            <option *ngFor="let test of testNames" [value]="test.testID">{{ test.testName}}</option>
          </select>
        </div>
      <tr>
        <td>
          <label for="userId">User Id</label>
        </td>
        <td>
          <input type="number" id="userId" class="form-control" name="userId" [(ngModel)]="assignedtest.userId" required
            #userId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userId.errors }" />
          <div *ngIf="f.submitted && userId.errors" class="invalid-feedback">
            <div *ngIf="userId.errors['required']">User Id is required</div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <label for="scheduledDateTime">Assigned Test</label>
        </td>
        <td>
          <input type="datetime-local" 
                 id="scheduledDateTime" 
                 class="form-control" 
                 name="scheduledDateTime"
                 [(ngModel)]="assignedtest.scheduledDateTime" 
                 required 
                 #scheduledDateTime="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && scheduledDateTime.errors }"
                 [min]="getCurrentDateTime()" />
          <div *ngIf="f.submitted && scheduledDateTime.errors" class="invalid-feedback">
            <div *ngIf="scheduledDateTime.errors['required']">Scheduled Date and Time is required</div>
            <div *ngIf="scheduledDateTime.errors['min']">Cannot select past date and time</div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-primary">Add Assigned Test</button>
        </td>
      </tr>
    </table>
  </form>
</div>
