<div class="container">
  <h2>Add Assigned Test</h2>
  <form #f="ngForm" (ngSubmit)="f.form.valid && addassignedtest()">
    <table class="table">
      <tr>
        <div class="form-group">
          <label for="testID">Test Name</label>
          <select [(ngModel)]="assignedtest.testID" name="testID" (change)="getAllTests($event)" class="form-control">
            <option *ngFor="let test of testNames" [value]="test.testID">{{ test.testName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="userId">User Name</label>
          <select [(ngModel)]="assignedtest.userId" name="userId" (change)="getAllUser($event)" class="form-control">
            <option *ngFor="let User of userNames" [value]="User.userId">{{ User.name}}</option>
          </select>
        </div>
      </tr>
      <tr>
        <td>
          <label for="scheduledDateTime">Assigned Test</label>
        </td>
        <td>
          <input type="datetime-local" 
                 id="scheduledDateTime" 
                 class="form-control" 
                 name="scheduledDateTime"
                 [(ngModel)]="assignedtest.scheduledDateTime" 
                 required 
                 #scheduledDateTime="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && scheduledDateTime.errors }"
                 [min]="getCurrentDateTime()" />
          <div *ngIf="f.submitted && scheduledDateTime.errors" class="invalid-feedback">
            <div *ngIf="scheduledDateTime.errors['required']">Scheduled Date and Time is required</div>
            <div *ngIf="scheduledDateTime.errors['min']">Cannot select past date and time</div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <!-- Change type to button to prevent automatic form submission -->
          <button type="button" class="btn btn-primary" (click)="addassignedtest()">Add Assigned Test</button>
        </td>
      </tr>      
    </table>
  </form>
</div>
