<div class="container">
  <div class="row">
    <div *ngFor="let test of assignedTests" class="col-md-4 mb-4">
      <div class="card">
        <!-- <div class="card-header bg-dark text-white">
          Assignment ID: {{ test.assignmentID }}
        </div> -->
        <div class="card-body">
          <h5 class="card-title">Test Name: {{ test.testName }}</h5>
          <!-- Uncomment the line below if you want to display User ID -->
          <!-- <p class="card-text">User ID: {{ test.userId }}</p> -->
          <p class="card-text">
            Test assigned: {{ test.scheduledDateTime | date:'medium' }}
          </p>
          <button class="btn btn-info" (click)="takeTest(test.testID)">
            Take Test
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="user-dashboard/home">Back to Home Page</a>

